
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
}
